---

env:
  browser : true
  node    : true
  es6     : true
  jquery  : true

rules:
  quotes  : single
  strict  : true
  key-spacing :
    - 2
    - beforeColon : false
      afterColon" : true
  new-cap :
    capIsNewExceptions
      - Server
