/*accent #E50011*/
/*base #4D1513*/
/*base light #60302E*/
/*#E64537*/
/*#FFFFFF*/
/*#EFEBE8*/
/*#F4BD1C*/

html, body, main {
    height:100%;
    /*color: #E86974;*/
}

header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    .side-nav.fixed {
        left: 0;
    }
}

.side-nav a.log-add {
    display: inline;
    height: 37px;
    width: 37px;
    float: right;
    line-height: 37px;
    padding: 0 10px 15px 0;
}

#logo-container {
    text-align: center;
    height: 110px;
    padding: 10px;
    background-color: #E86974;
}

li.logo {;
    padding: 0;
    margin-bottom: 25px;
}

li.menu {
    width: inherit;
    padding: 0 0 0 30px;
    display: block;
    color: #444;
    height: 44px;
    line-height: 44px;
}

/*li.menu.file:before {*/
    /*content: '<i class="mdi-content-add"></i>';*/
    /*padding-right: 10px;*/
/*}*/
/*li.menu.docker:before {*/
    /*content: '<i class="mdi-content-add"></i>';*/
    /*padding-right: 10px;*/
/*}*/

/*li.menu a {*/
    /*height: 44px;*/
    /*line-height: 44px;*/
/*}*/

li.no-hover:hover {
    background-color: unset;
    color: unset;
}
